.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px #c7afaf;
  box-shadow: 0 0 10px #c7afaf;
}

.navbar-brand .img {
  width: 200px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-nav .nav-block-item {
  position: relative !important;
}

.navbar-nav .nav-block-item:hover .block-list {
  display: block;
}

.navbar-nav .nav-block-item .block-list {
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  z-index: 10;
  display: none;
}

.navbar-nav .nav-block-item .block-list .block-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav .nav-block-item .block-list .block-list-item .list-item-link ul {
  list-style: none;
}

.navbar-nav li {
  margin: 0px 16px 0px 0px;
  font-size: 20px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
  margin: auto;
}

.nav-link.active {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.nav-link.active:hover {
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

input.form-control.me-2.search-input {
  width: 300px;
  padding-left: 45px;
}

.img-input {
  width: 27px;
  padding-right: 5px;
}

.login-btn {
  font-size: 16px;
  border: 1px solid #466a8a;
  background-color: #466a8a;
  padding: 6px 32px;
  border-radius: 40px;
}

.login-btn p {
  line-height: 28px;
  white-space: nowrap;
  font-size: 16px;
  margin: auto;
  color: #fff;
  font-weight: 700;
}

.avatar {
  position: relative;
  margin-left: 20px;
}

.avatar .avatar_list {
  position: absolute;
  background: aliceblue;
  width: 170px;
  list-style: none;
  left: -110px;
  margin-top: 14px;
  padding-left: 0px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px #c3c3c3a2;
  box-shadow: 0 0 10px #c3c3c3a2;
  display: none;
}

.avatar .avatar_list li:hover {
  cursor: pointer;
  background-color: #466a8a;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.avatar .avatar_list li {
  padding: 6px 12px;
  border-top: 1px solid #e5dddd;
}

.avatar .avatar_list::before {
  content: "";
  display: block;
  position: absolute;
  top: -24px;
  left: 120px;
  border-style: solid;
  border-color: transparent transparent #e5ecf3 transparent;
  border-width: 12px 10px;
}

.avatar .avatar_list::after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 106px;
  width: 50px;
  height: 25px;
}

.avatar:hover .avatar_list {
  display: block;
  -webkit-animation: appear 0.3s ease 0s;
  animation: appear 0.3s ease 0s;
}

.header_scroll {
  -webkit-animation: animationHeader 1s ease;
  animation: animationHeader 1s ease;
  z-index: 1;
}

@-webkit-keyframes animationHeader {
  from {
    margin-top: -10%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes animationHeader {
  from {
    margin-top: -10%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.form-search {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn.btn-search {
  position: absolute;
  left: 6px;
}

form.d-flex {
  /* custom scroll */
}

form.d-flex ul.listCourses::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

form.d-flex ul.listCourses::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #466a8a;
  border-radius: 10px;
}

form.d-flex ul.listCourses::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #466a8a;
}

form.d-flex ul.listCourses {
  top: 54px;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  background: aliceblue;
  list-style: none;
  padding-left: 0px;
  border-radius: 6px;
  text-align: start;
  -webkit-box-shadow: 0 0 10px rgba(194, 194, 194, 0.635);
  box-shadow: 0 0 10px rgba(194, 194, 194, 0.635);
  display: none;
}

form.d-flex ul.listCourses a {
  text-decoration: none;
  color: black;
}

form.d-flex ul.listCourses li:hover {
  background-color: #466a8a;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

form.d-flex ul.listCourses li {
  padding: 10px 24px;
  border-top: 1px solid #e5dddd;
}

form.d-flex ul.listCourses p {
  padding: 12px;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

form.d-flex ul.listCourses::after {
  content: "";
  display: block;
  position: absolute;
  top: -19px;
  width: 100%;
  height: 25px;
}

.openBtn {
  border-radius: 23px;
  border: 1px solid #ced4da;
  background-color: #fff;
  margin-right: 10px;
  padding: 6px 21px 6px 15px;
  font-size: 17px;
  cursor: pointer;
}

.openBtn:hover {
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-content {
  position: relative;
  top: 22%;
  width: 45%;
  border-radius: 7px;
  background-color: #f5f6f7;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  height: 216px;
}

.overlay .closebtn {
  position: absolute;
  top: 150px;
  right: 352px;
  font-size: 40px;
  cursor: pointer;
  color: #433d3d;
  z-index: 10;
  padding: 10px;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type="text"] {
  padding: 15px;
  margin: 20px auto;
  font-size: 17px;
  outline: none;
  border: 2px solid #3b8ba5;
  float: left;
  border-radius: 6px;
  width: 93%;
  background: white;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #466a8a;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    padding: 0;
  }
  div#navbarSupportedContent {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 20px #3333333b;
    box-shadow: 0 0 20px #3333333b;
    margin-top: 24px;
  }
  li.nav-item {
    padding: 0 24px;
  }
  li.nav-item:hover {
    background-color: #d6cece;
    border-radius: 6px;
    color: #fff !important;
  }
  li.nav-item {
    margin-right: 0;
  }
  button.openBtn {
    margin-left: 24px;
    margin-bottom: 24px;
  }
  button.btn.login-btn {
    margin-left: 24px;
    margin-bottom: 12px;
  }
  .a.navbar-brand {
    margin-left: 24xp;
  }
  button.navbar-toggler.collapsed {
    margin-right: 24px;
  }
  .App {
    overflow-x: hidden;
  }
}

.listCourse-content {
  background-color: #f5f6f7;
  padding: 15px;
  border-radius: 0 0 7px 7px;
}
/*# sourceMappingURL=header.css.map */
