.video-detail {
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}

.video-detail .title-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #29303b;
  height: 50px;
  position: fixed;
  z-index: 100;
}

.video-detail .title-video a {
  margin: auto 0;
}

.video-detail .title-video svg.svg-inline--fa.fa-list {
  color: #fff;
  font-size: 24px;
  margin: auto;
  margin-right: 24px;
  cursor: pointer;
  display: none;
}

.video-detail .title-video svg.svg-inline--fa.fa-chevron-left {
  margin: auto 20px;
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.video-detail .title-video p {
  font-size: 20px;
  color: #fff;
  margin: auto;
  margin-left: 0px;
}

.video-detail .title-video svg.svg-inline--fa.fa-chevron-left:hover {
  opacity: 0.5;
}

.video-detail .video-content {
  position: relative;
  background-color: black;
  width: 75%;
  text-align: center;
  margin-top: 50px;
}

.video-detail .video-content iframe {
  width: 70%;
  height: 70vh;
  margin-top: 1px;
  margin-bottom: -8px;
}

.video-detail .video-content svg.svg-inline--fa.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 20px;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.video-detail .video-content svg.svg-inline--fa.fa-chevron-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.video-detail .video-content svg.svg-inline--fa.fa-chevron-left:hover,
.video-detail .video-content svg.svg-inline--fa.fa-chevron-right:hover {
  opacity: 0.5;
}

.video-detail .video-content:hover svg.svg-inline--fa.fa-chevron-left,
.video-detail .video-content:hover svg.svg-inline--fa.fa-chevron-right {
  display: block;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.video-detail .comment-coding {
  width: 70%;
  margin: auto;
}

.video-detail .comment-coding .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-detail .comment-coding .title p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  padding: 0 16px;
  cursor: pointer;
}

.video-detail .comment-coding .title p.title-comment {
  border-bottom: 2px solid red;
}

.video-detail .comment-coding .title p.title-comment {
  margin-right: 40px;
}

.video-detail .comment-coding .comment {
  margin-top: 32px;
}

.video-detail .comment-coding .comment .comment-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-detail .comment-coding .comment .comment-question input {
  margin-left: 20px;
  padding-left: 16px;
  border-radius: 6px;
  width: 70%;
}

.video-detail .comment-coding .comment .comment-detail .title {
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #887b7b;
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 50px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail img {
  width: 40px;
  height: 40px;
  margin-top: 6px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment {
  position: relative;
  margin-left: 12px;
  background-color: #d9e2f5;
  padding: 12px;
  border-radius: 20px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment .name {
  font-weight: 600;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment .amount-like {
  position: absolute;
  right: 24px;
  bottom: -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c3c3c3;
  border-radius: 15px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment .amount-like .icon-like {
  background-color: #2e63cd;
  padding: 0px 6px;
  border-radius: 100%;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment .amount-like .icon-like svg.svg-inline--fa.fa-thumbs-up {
  color: #fff;
  font-size: 12px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .item-comment-detail .description-comment .amount-like .amount {
  margin: 0 4px;
  padding-right: 4px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time p {
  margin-right: 12px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time p.felt, .video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time p.feedback {
  color: #c23333;
  cursor: pointer;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time p.felt:hover, .video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .felt-feedback-time p.feedback:hover {
  border-bottom: 1px solid #c23333;
  margin-bottom: 11px;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .comment-feedback {
  width: 90%;
  margin-left: 6%;
}

.video-detail .comment-coding .comment .comment-detail .list-comment .item-comment .comment-feedback img {
  width: 32px !important;
  height: 32px !important;
}

.video-detail .tab-menu {
  width: 25%;
  background-color: #f7f3f3;
  position: absolute;
  top: 50px;
  right: 0;
}

.video-detail .tab-menu .tittle-list {
  font-size: 24px;
  padding: 10px;
  margin-left: 12px;
  font-weight: 600;
  border-bottom: 1px solid #f0e3e3;
  position: relative;
}

.video-detail .tab-menu .tittle-list svg.svg-inline--fa.fa-arrow-right {
  font-size: 20px;
  opacity: 0.7;
  position: absolute;
  right: 12px;
  top: 19px;
  cursor: pointer;
}

.video-detail .tab-menu ul.list-course {
  padding: 0;
  margin-bottom: 0;
}

.video-detail .tab-menu ul.list-course li.name-course {
  list-style: none;
  font-size: 16px;
  padding: 12px;
  position: relative;
}

.video-detail .tab-menu ul.list-course li.name-course svg.svg-inline--fa.fa-lock {
  position: absolute;
  right: 8px;
  top: 16px;
  color: #8d8585;
  font-size: 14px;
}

.video-detail .tab-menu ul.list-course li.name-course svg.svg-inline--fa.fa-check {
  position: absolute;
  right: 8px;
  top: 12px;
  color: #fff;
  background-color: #3ab13a;
  border-radius: 100%;
  padding: 3px 3.5px;
  font-size: 10px;
}

.video-detail .tab-menu ul.list-course li.name-course:hover {
  background-color: #2e63cdb0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/*# sourceMappingURL=DetailCourse.css.map */