.homepage-container {
	margin-top: 85px;
}

.homepage_layout_1 {
	height: 550px;
	padding-top: 20px;
	& .homepage_layout_1_image {
		min-height: 350px;
		max-height: 550px;
		& div {
			background-image: url("../../../images/home-icon.png");
			height: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	& .homepage_layout_1_layout {
		margin: auto;
		& h1 {
			padding-left: 45px;
			font-size: 39px;
			color: #000000;
			margin-bottom: 25px;
			font-weight: bold;
		}
		& p {
			font-size: 20px;
			padding-left: 45px;
			color: #000000;
			font-weight: normal;
		}
		& .list_logo {
			display: flex;
			padding-left: 45px;
			& .logo {
				width: 50px;
				height: 50px;
				background-position: center;
				background-size: contain;
				border-radius: 10px;
				&:hover {
					cursor: pointer;
				}
			}
			& .logo_gg {
				background-image: url("../../../images/google.png");
			}
			& .logo_facebook {
				background-image: url("../../../images/facebook.png");
				margin: 0 33px;
			}
			& .logo_github {
				background-image: url("../../../images/github.png");
			}
		}
	}
}
.button_homepage {
	width: 150px;
	height: 45px;
	border: none;
	background-color: #466a8a;
	color: #ffffff;
	font-size: 21px;
	border-radius: 25px;
	font-weight: 750;
	margin-bottom: 21px;
	transition: all 0.3s ease 0s;
	&:hover {
		cursor: pointer;
		background-color: #003a6d;
	}
}

// Layout 2
.homepage_layout_2 {
	min-height: 350px;
	margin-top: 50px;
	& .homepage_layout_2_left {
		display: flex;
		& div {
			margin: auto;
			& p {
				margin-top: 23px;
				font-weight: 300;
				font-size: 19px;
				color: #10162f;
				width: 90%;
			}
		}
	}
	& h1 {
		font-size: 40px;
		color: #000000;
		font-weight: bold;
		margin: 0;
	}
	& .background_1_layout_2 {
		min-height: 270px;
		max-height: 320px;
		& div {
			position: relative;
			background-image: url("../../../images/homeBegin.png");
			height: 100%;
			background-repeat: no-repeat;
			text-align: center;
			background-size: contain;
			background-position: center;
			& button {
				border-radius: 25px;
				width: 110px;
				height: 34px;
				border: none;
				background: #ffd300;
				font-weight: 600;
				color: #ffffff;
				bottom: 0;
				margin-top: calc(70%);
			}
		}
	}
	& .background_2_layout_2 {
		min-height: 270px;
		max-height: 320px;
		& div {
			position: relative;
			background-image: url("../../../images/homeScience.png");
			height: 100%;
			background-repeat: no-repeat;
			text-align: center;
			background-size: contain;
			background-position: center;
			& button {
				border-radius: 25px;
				width: 110px;
				height: 34px;
				border: none;
				background: #ffd300;
				font-weight: 600;
				color: #ffffff;
				bottom: 0;
				margin-top: calc(70%);
			}
		}
	}
	& .background_3_layout_2 {
		min-height: 270px;
		max-height: 320px;
		margin-top: 20px;
		& div {
			position: relative;
			background-image: url("../../../images/homeFrontend.png");
			height: 100%;
			background-repeat: no-repeat;
			text-align: center;
			background-size: contain;
			background-position: center;
			& button {
				border-radius: 25px;
				width: 110px;
				height: 34px;
				border: none;
				background: #ffd300;
				font-weight: 600;
				color: #ffffff;
				bottom: 0;
				margin-top: calc(70%);
			}
		}
	}
	& .background_4_layout_2 {
		min-height: 270px;
		max-height: 320px;
		margin-top: 20px;
		& div {
			position: relative;
			background-image: url("../../../images/homeBackend.png");
			height: 100%;
			background-repeat: no-repeat;
			text-align: center;
			background-size: contain;
			background-position: center;
			& button {
				border-radius: 25px;
				width: 110px;
				height: 34px;
				border: none;
				background: #ffd300;
				font-weight: 600;
				color: #ffffff;
				bottom: 0;
				margin-top: calc(70%);
			}
		}
	}
}

// Layout 3
.homepage_layout_3 {
	background: #466a8a;
	height: 310px;
	text-align: center;
	font-weight: 600;
	& {
		display: flex;
		align-items: center;
		justify-content: center;
		& h1 {
			font-size: 120px;
			line-height: 120px;
			color: #ffffff;
		}
		& h2 {
			font-weight: 600;
			font-size: 40px;
			line-height: 40px;
			color: #ffffff;
		}
	}
}

.homepage_layout_4 {
	height: 405px;
	// background-color: #ffd300;
	& .container {
		height: 100%;
		& .row {
			height: 100%;
		}
	}
}
.col-6.homepage_layout_4_text {
	margin: auto;
	& h1 {
		font-size: 40px;
		font-weight: bold;
	}
	& p {
		font-size: 20px;
		font-weight: 350;
		width: 83%;
	}
}
.col-6.homepage_layout_4_text {
  margin:auto ;
  & h1 {
    font-size: 40px;
    font-weight: bold;
  }
  & p {
    font-size: 20px;
    font-weight: 350;
    width: 83%;
  }
}

.homepage_layout_4_image {
	background-image: url("../../../images/homeRegister.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 96%;
	background-position: center;
}

.homepage-container button,
.homepage_layout_4 button {
	transition: all 0.3s ease 0s;
}

.homepage-container button:hover,
.homepage_layout_4 button:hover {
	transform: scale(1.05);
	// box-shadow: 0 0 10px rgb(175, 171, 171);
	transition: all 0.3s ease 0s;
}

// Layout 5
.homepage_layout_5 {
	height: 450px;
	margin-bottom: 50px;
	margin-top: 30px;
	& .homepage_layout_5_left {
		height: 450px;
		& .background_layout_5 {
			background-image: url("../../../images/education.png");
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			background-position: left;
			margin-top: 10px;
		}
	}
	& .homepage_layout_5_right {
		display: flex;
		& div {
			margin: auto;
		}
	}
}
.btn-app-layout_2 {
	border-radius: 30px;
	color: #ffffff;
  background-color: #466a8a;
  border: none;
	width: 290px;
	margin-top: 20px;
	height: 48px;
}
// layout 6
// .background_layout_6 {
//   background-image: url("../../../images/education.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100%;
//   background-position: left;
//   margin-top: 10px;
// }
