.lo-trinh {
    margin-top: 120px;
}

.lt-btn {
    border-radius: 18px;
    color: white;
    width: 142px;

}

.lt-title {
    text-align: left;
}

.lt-card {
    box-shadow: 1px 1px 1px 1px #c7afaf;
}
.lt-card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}