.page-login, .page-register {
  display: flex;
  height: 100vh;
}


.background-login {
  background-image: url(../../../public/troi.jpg);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.photo-edit {
  &__form {
    background-image: url(../../../public/background-login.png);
    margin: auto;
    width: 380px;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px #eee2e2;

    & label {
      font-weight: 600;
    }

    & button {
      display: flex;
      margin: auto;
      margin-top: 24px;
    }

    & h1 {
      text-align: center;
      margin-bottom: 24px;
    }

    & .spinner-border {
      font-size: 4px;
      width: 16px;
      height: 16px;
      margin-left: 6px;
      margin-top: 6px;
    }

    & .error-login {
      margin-top: 10px;
      color: #e82424;
    }
  }
}

.login-other {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login-other .logo {
  width: 36px;
  height: 36px;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.btn.btn-primary {
  border-radius: 30px;
  padding: 8px 44px;
  font-size: 20px;
  font-weight: 600;
}

.login-other .logo:hover {
  cursor: pointer;
}

.login-other .logo_gg {
  background-image: url("../../images/google.png");
}

.login-other .logo_facebook {
  background-image: url("../../images/facebook.png");
  margin: 0 24px;
}

.login-other .logo_github {
  background-image: url("../../images/github.png");
}

.login-other .list_logo {
  display: flex;
  justify-content: center;
}

.login-other p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.login-other a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.login-other a:hover {
  color: #fff;
}

.form-label{
  margin-bottom: 2px;
}