 .btn-app {
  font-size: 16px;
  border: 1px solid #466a8a;
  background-color: #466a8a;
  padding: 6px 12px;
  transition: all 0.3s ease 0s;
}

.btn-app:hover {
  color: #fff;
  border-color: #0a58ca;
  background-color: #0a58ca;
  transition: all 0.3s ease 0s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes appear {
  from {
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}


.btn-app-y {
  font-size: 16px;
  border: 1px solid #FFD300;
  background-color: #FFD300;
  padding: 6px 12px;
  transition: all 0.3s ease 0s;
}

.btn-app-y:hover {
  color: #fff;
  border-color: #FFD300;
  background-color: #FFD300;
  transition: all 0.3s ease 0s;
}

/* animation */
/* start left to right */
.button_a_lr {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
}

.button_a_lr::before {
  content: '';
  z-index: -1;
  position: absolute;
  border-radius: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* border: 1px solid #fc2f70; */
  background-color: #fc2f70;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.button_a_lr:hover {
  cursor: pointer;
}
.button_a_lr:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}


.button_jelly {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #466a8a;
}

.button_jelly:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}


